<div class = "jumbotron">
<p id="notice"><%= notice %></p>

<%= image_tag gravatar_url("you@youremail.com", 64), alt: "" %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Career:</strong>
  <%= @profile.career %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.username %>
</p>

<%= link_to "Edit", edit_profile_path %> |
<%= link_to "Back", root_path %>

</div>